# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Generated outputs
outputs/

# Machine Learning
data/
models/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db